{% extends '../base.html' %}
{% block head %} 
{% load static %}
    <title>Offers</title>
    <link rel="stylesheet" href="{% static 'offers/styles/style.css' %}">
{% endblock head%}

{% block content %}
<div class="offers-page-wrap section-wrap">
    <div class = "d-flex offers-list-wrap">        
        {% for item in data %}
        <div class = "offer-item">
            <div style="background-image: url(../media/{{item.trip_image}});" class = "offer-image-block bg-options">	                
            </div>
            <div class = "offer-text-block">	
                <div class = "offer-rate">
                    <span class = "offer-title grey-text d-block">{{ item.title }}</span>
                    
                    {% for i in '0123456789'|make_list %}
                        {% if  forloop.counter <= item.rating %}
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 2.00006L15.09 8.26006L22 9.27006L17 14.1401L18.18 21.0201L12 17.7701L5.82 21.0201L7 14.1401L2 9.27006L8.91 8.26006L12 2.00006Z" fill="#FFC107"/>
                            </svg>
                        {% endif %}
                    {% endfor %}
                </div>
                <span class = "offer-description d-block">{{ item.description }}</span>
                <div class="www">
                    <div class="offer-price-details">
                        <div class = "offer-price-wrap">
                            <span class = "title-small grey-text">From</span>	
                            <span class = "offer-price">€{{ item.cost }}</span>	
                        </div>
                        <div class = "offer-details">
                            <a class="offer-btn" href = "{{item.id}}">Details</a>
                        </div>
                    </div>
                </div>                
            </div>
        </div>	
        {% endfor %}        
    </div>
</div>

{% endblock content%}