

{% extends '../base.html' %}
{% block head %} 
{% load static %}   
    <title>Your Account</title>
    <link rel="stylesheet" href="{% static 'user_page/styles/style.css' %}">
{% endblock head%}

{% block content %}
    <section>
        <div class="section-wrap">
            <h1 class="title-big black-text"><i class="fa-solid fa-user"></i> My Travellian Account</h1>
            <div class="info-wrap">
                <div class="user-info-panel">
                    <h2 class="title-small user-caption"> Hello, {{user.username}}</h2>
                    <span class="title-small">Account created on {{user.date_joined}}</span>
                    <hr>
                    <span class="title-small">You logged in on {{user.last_login}}</span>
                </div>
                <div class="user-info-panel info-panel-right">
                    <div class="order-list">
                        {% if user.is_superuser %}
                            {% if admin_orders %}            
                            <div class="admin-orders-wrap">
                                <span class="title-big black-text d-block">Manage pending orders:</span>
                                {% for order in admin_orders %}
                                <div class="order-wrap d-flex">
                                    <div class="order-img-wrap">
                                        <img src="../media/{{order.trip.trip_image}}" alt="tripimg" width="20%">
                                    </div>
                                    <div class="order-info-wrap">                        
                                        <span class="title-small">{{order.trip.title}}</span>
                                        <div class="order-info-block d-flex">
                                            <div class="info-caption">
                                                Order ID: 
                                            </div>
                                            <div class="info-data">
                                                {{order.id}}  
                                            </div>                                          
                                        </div>
                                        <div class="order-info-block d-flex">
                                            <div class="info-caption">
                                                Total price: 
                                            </div>
                                            <div class="info-data">
                                                {{order.total_price}}  
                                            </div>                                          
                                        </div>
                                        <div class="order-info-block d-flex">
                                            <div class="info-caption">
                                                Person count: 
                                            </div>
                                            <div class="info-data">
                                                {{order.person_count}} 
                                            </div>                                          
                                        </div>
                                        <div class="order-info-block d-flex">
                                            <div class="info-caption">
                                                Check in:
                                            </div>
                                            <div class="info-data">
                                                {{order.check_in}}
                                            </div>                                          
                                        </div>
                                        <div class="order-info-block d-flex">
                                            <div class="info-caption">
                                                Check out: 
                                            </div>
                                            <div class="info-data">
                                                {{order.check_out}} 
                                            </div>                                          
                                        </div>
                                        <div class="order-info-block d-flex">
                                            <div class="info-caption">
                                                Ordering date:  
                                            </div>
                                            <div class="info-data">
                                                {{order.placed_at}}
                                            </div>                                                
                                        </div>
                                        <div class="order-info-block d-flex">
                                            <div class="info-caption">
                                                User:
                                            </div>
                                            <div class="info-data">
                                                {{order.user}}
                                            </div>                                                  
                                        </div>                                        
                                    </div>
                                    <div class="admin-order-forms">
                                        <form class="order-status-form" method="POST" action="cancel_order"> 
                                            {% csrf_token %} 
                                            <input type="hidden" name="id" value="{{order.id}}">
                                            <button class="status-order-btn title-small" type="submit">
                                                Cancel
                                            </button>
                                        </form>
                                        <form class="order-status-form" method="POST" action="confirm_order"> 
                                            {% csrf_token %} 
                                            <input type="hidden" name="id" value="{{order.id}}">
                                            <button class="status-order-btn title-small" type="submit">
                                                Confirm
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% else %}
                            <span class="title-big grey-text order-empty d-block">No pending orders</span>
                            {% endif %}
                        {% else %}
                            {% if orders %}                            
                                <span class="title-big black-text d-block">Orders info:</span>
                                {% for order in orders %}
                                    {% if order.status != "cancelled" %}
                                    <div class="order-wrap d-flex">
                                        <div class="order-img-wrap">
                                            <img src="../media/{{order.trip.trip_image}}" alt="tripimg" width="20%">
                                        </div>
                                        <div class="order-info-wrap">
                                            
                                            <span class="title-small">{{order.trip.title}}</span>
                                            <div class="order-info-block d-flex">
                                                <div class="info-caption">
                                                    Order ID: 
                                                </div>
                                                <div class="info-data">
                                                    {{order.id}}  
                                                </div>                                          
                                            </div>
                                            <div class="order-info-block d-flex">
                                                <div class="info-caption">
                                                    Total price: 
                                                </div>
                                                <div class="info-data">
                                                    {{order.total_price}}  
                                                </div>                                          
                                            </div>
                                            <div class="order-info-block d-flex">
                                                <div class="info-caption">
                                                    Person count: 
                                                </div>
                                                <div class="info-data">
                                                    {{order.person_count}} 
                                                </div>                                          
                                            </div>
                                            <div class="order-info-block d-flex">
                                                <div class="info-caption">
                                                    Check in:
                                                </div>
                                                <div class="info-data">
                                                    {{order.check_in}}
                                                </div>                                          
                                            </div>
                                            <div class="order-info-block d-flex">
                                                <div class="info-caption">
                                                    Check out: 
                                                </div>
                                                <div class="info-data">
                                                    {{order.check_out}} 
                                                </div>                                          
                                            </div>
                                            <div class="order-info-block d-flex">
                                                <div class="info-caption">
                                                    Ordering date:  
                                                </div>
                                                <div class="info-data">
                                                    {{order.placed_at}}
                                                </div>                                                
                                            </div>
                                            <div class="order-info-block d-flex">
                                                <div class="info-caption">
                                                    Status:
                                                </div>
                                                <div class="info-data">
                                                    {{order.status}}
                                                </div>                                                  
                                            </div>                                        
                                        </div>
                                        <form class="order-status-form" method="POST" action="cancel_order"> 
                                            {% csrf_token %} 
                                            <input type="hidden" name="id" value="{{order.id}}">                                            
                                            <button class="status-order-btn title-small" type="submit">
                                                Cancel
                                            </button>                                            
                                        </form>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <span class="title-big grey-text order-empty d-block">Your orders will be here</span>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

            </div>            
        </div>
    </section>
    {% endblock content%}
    
